# Server Config
BASE_URL=http://YOUR_IP_ADDRESS:8081
API_OLLAMA=http://YOUR_IP_ADDRESS:11434
MONGODB_URI=mongodb://127.0.0.1:27017/bmapp
PORT=8081

# Firebase Config
FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
FIREBASE_DATABASE_URL=https://your_project.firebasedatabase.app
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_STORAGE_BUCKET=your_project.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=your_sender_id
FIREBASE_APP_ID=your_app_id
FIREBASE_MEASUREMENT_ID=your_measurement_id
